body {
  background-color: #ececec;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #1c1a1a;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.product-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px 20px;
}

.grid-item {
  display: inline-block;
}
