@keyframes slide-in {
  100% {
    transform: translateX(0%);
    box-shadow: $left-side-menu-shadow;
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    box-shadow: $left-side-menu-shadow;
  }

  100% {
    transform: translateX(-100%);
  }
}
