.breadcrumbs {
  display: block;
  padding: 20px 30px;

  a, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #808184;
    text-transform: uppercase;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .breadcrumb-spacer {
    font-weight: bold;
    font-size: 16px;
    margin: 0 11px 0 12px;
  }
}
