.product-sticky-header {
  display: none;
  height: 50px;

  @media (min-width: 992px) {
    display: block;
  }

  nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;

    a {
      color: white;
      padding: 16px 50px 15px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
