.top-navigation {
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 25px 0;
  }

  .site-menu,
  .site-cart {
    width: 25%;
  }

  .site-menu {
    .mobile-menu-toggle {
      display: block;
      padding-left: 25px;

      @media (min-width: 992px) {
        display: none;
      }

      button {
        font-size: 25px;
        background: transparent;
        border: none;
        color: white;
        padding: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    ul {
      position: fixed;
      height: 100%;
      text-align: center;
      width: 32.667em;
      max-width: 80%;
      position: fixed;
      height: 100%;
      z-index: 4;
      top: 54px;
      overflow-y: scroll;
      background-color: #242424;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);

      &.slide--in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
      }

      &.slide--out {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
      }

      &.slide--out,
      &.slide--in {
        @media (min-width: 992px) {
          animation: none;
        }
      }

      @media (min-width: 768px) {
        top: 76px;
      }

      @media (min-width: 992px) {
        position: relative;
        width: auto;
        max-width: none;
        transform: none;
        padding: 0 0 0 25px;
        overflow: hidden;
        top: 0;
      }

      li {
        border-top: 2px solid white;

        &:last-of-type {
          border-bottom: 2px solid white;
        }

        @media (min-width: 992px) {
          float: left;
          border: none;

          &:last-of-type {
            border: none;
          }

          &:not(:last-of-type) {
            margin-right: 15px;
          }
        }
      }

      a {
        position: relative;

        &:hover {
          text-decoration: underline;
        }

        i {
          display: inline-block;
          position: absolute;
          right: 25px;

          @media (min-width: 992px) {
            display: none;
          }
        }
      }
    }
  }

  .site-logo {
    width: 50%;

    a {
      display: block;
      text-decoration: none;
      padding: 0;
    }

    h1 {
      color: white;
      text-align: center;
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 17px 0;

      @media (min-width: 768px) {
        font-size: 40px;
      }

      @media (min-width: 992px) {
        font-size: 48px;
        margin: 4px 0;
      }

      @media (min-width: 1200px) {
        font-size: 56px;
        margin: 0;
      }
    }
  }

  .site-cart {
    display: flex;
    justify-content: flex-end;

    .cart {
      padding-right: 25px;
      position: relative;
      display: inline-block;

      .cart-label {
        display: none;

        @media (min-width: 992px) {
          display: inline-block;
        }
      }

      .cart-count {
        position: absolute;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        bottom: 50%;
        left: 25%;
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.4;
        background-color: #eb6e26;

        @media (min-width: 992px) {
          right: 20%;
          left: auto;
        }
      }
    }
  }

  .site-menu,
  .site-logo,
  .site-cart {
    @media (min-width: 992px) {
      width: 33.3%;
    }
  }
}
