.product-cross-sell-list {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 25px;

  @media (min-width: 992px) {
    padding-bottom: 104px;
    padding-top: 50px;
  }

  h3 {
    font-size: 35px;
    color: #1c1a1a;
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase;

    @media (min-width: 992px) {
      margin-bottom: 20px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  li {
    width: 100%;
    position: relative;
    list-style-type: none;
    background-color: #fff;
    transition: 200ms;
    margin-bottom: 25px;
    padding: 30px 15px;

    @media (min-width: 992px) {
      width: 23%;
      margin: 0 1%;
      float: left;
      margin-bottom: 0;
      height: 340px;
    }

    &:hover {
      @media (min-width: 992px) {
        margin-top: -5px;
      }
    }

    a {
      color: black;
      text-decoration: none;
    }

    .product-title,
    .product-price {
      font-weight: bold;
    }

    .product-title {
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px;
      min-height: 60px;
    }

    .product-price {
      font-family: 'Open-sans', sans-serif;
      font-size: 14px;
    }

    img {
      height: 185px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}
