.product-quantity-dropdown {
  height: 28px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: block;
  padding: 8px 20px 7px 8px;
  line-height: 28px;
  width: 50%;
  position: relative;

  &.dropdown--open {
    .product-quantity-dropdown-list {
      display: inline-block;
    }
  }

  .dropdown-arrow {
    height: 0;
    width: 0;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    right: 8px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
  }

  .product-quantity-dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    left: -1px; // border issue fix
    top: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 8px 0 7px;

    li {
      padding: 0 8px;
    }
  }
}
