.product-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;

  @media (min-width: 992px) {
    float: left;
    width: 60%;
  }

  img {
    width: 100%;
  }

  .thumbnail-slider {
    text-align: center;
    width: 100%;

    @media (min-width: 992px) {
      width: 20%;
    }

    .slick-arrow {
      z-index: 3;
      font-size: 18px;
      position: absolute;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) and (max-width: 991px){
        font-size: 40px;
      }

      @media (min-width: 992px) {
        position: relative;
      }

      &:not(.slick-disabled):hover {
        cursor: pointer;
      }
    }

    .slick-arrow-prev {
      left: 0;

      @media (min-width: 992px) {
        margin-bottom: 15px;
      }
    }

    .slick-arrow-next {
      right: 0;

      @media (min-width: 992px) {
        margin-top: 15px;
      }
    }

    .slick-disabled {
      opacity: 0.5;
    }

    .product-thumbnail {
      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .product-preview-image {
    display: none;
    width: 75%;

    @media (min-width: 992px) {
      display: inline-block;
    }
  }
}
