.product-cart-feedback {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;

  .product-cart-values {
    background-color: white;
    margin: 25% auto;
    padding: 25px;
    display: inline-block;

    p {
      font-weight: normal;
      font-size: 25px;

      span {
        font-weight: bold;
      }
    }
  }
}
