.product-display {
  @media (min-width: 992px) {
    float: right;
    width: 40%;
  }

  .product-title {
    font-size: 35px;
    line-height: 1;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .product-number,
  .product-platform {
    margin-bottom: 15px;
  }

  .product-platform {
    font-weight: 700;
    text-transform: uppercase;
  }

  .product-price {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-bottom: 23px;
  }

  .product-inventory {
    font-size: 20px;
    margin-bottom: 23px;
    font-weight: normal;

    span {
      font-weight: bold;
    }
  }

  .product-tagline {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      width: 90%;
    }
  }
}

.product-description-wrapper {
  @media (min-width: 992px) {
    width: 40%;
  }

  .product-description {
    margin: 20px 0 30px;

    @media (min-width: 768px) {
      width: 90%;
    }

    p {
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      line-height: normal;
    }
  }

  .product-quantity {
    margin-bottom: 30px;

    p {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .product-quantity-select {
      display: none;
    }
  }

  .product-add-to-cart-button {
    padding: 14px 46px 13px;
    text-transform: uppercase;
    border-style: none;
    background-color: #bbbbbb;
    color: white;
    margin-bottom: 30px;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }
}
