.product-information-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;

  @media (min-width: 992px) {
    padding-top: 131px;
    padding-bottom: 30px;
  }

  .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media (min-width: 992px) {
      flex-direction: row-reverse;
    }
  }

  h4 {
    font-size: 25px;
    color: #1c1a1a;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px;

    @media (min-width: 992px) {
      font-size: 35px;
    }
  }

  .product-information-content {
    padding-top: 0;
    width: 100%;

    @media (min-width: 992px) {
      width: 50%;
      padding-right: 20px;
    }
  }

  .product-information-image {
    width: 100%;

    @media (min-width: 992px) {
      width: 45%;
    }

    img {
      width: 100%;
    }
  }

  .accordion-menu-item {
    border-top: 1px solid #000;

    &:last-of-type {
      border-bottom: 1px solid #000;
    }

    &.active {
      h5 span {
        transform: rotate(135deg);
      }
    }

    h5 {
      font-size: 18px;
      color: #000;
      padding: 26px 0 22px;

      &:hover {
        cursor: pointer;
      }

      @media (min-width: 992px) {
        font-size: 25px;
      }

      span {
        font-size: 16px;
        font-weight: bold;
        float: right;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;

        @media (min-width: 992px) {
          font-size: 18px;
        }
      }
    }

    .accordion-items {
      display: none;

      .accordion-item {
        padding-left: 18px;
        padding-bottom: 25px;

        &:last-of-type {
          padding-bottom: 51px;
        }

        h6 {
          font-size: 16px;
          text-transform: capitalize;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        span, p {
          font-family: 'Open Sans', sans-serif;
        }

        span {
          display: list-item;
          list-style-type: disc;
          list-style-position: inside;
        }

        p {
          font-size: 16px;
          font-weight: normal;
          margin: 16px 0;
          line-height: normal;
        }
      }
    }
  }
}
