.social-sharing {
  margin-bottom: 15px;

  @media (min-width: 992px) {
    width: 40%;
    margin-bottom: 30px;
    display: flex;
    margin-left: auto;
  }

  p {
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase;
  }

  i.fab {
    font-size: 25px;
  }

  a {
    margin-left: 25px;
    color: black;
    text-decoration: none;

    &:hover {
      color: #eb6e26;
    }
  }

  .social-sharing-share-txt {
    display: none;
  }
}
