/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes slide-in {
  100% {
    transform: translateX(0%);
    box-shadow: 0 2px 0 0 rgba(45, 45, 45, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.05), 100px 2px 100px 0 rgba(62, 47, 84, 0.2); } }

@keyframes slide-out {
  0% {
    transform: translateX(0%);
    box-shadow: 0 2px 0 0 rgba(45, 45, 45, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.05), 100px 2px 100px 0 rgba(62, 47, 84, 0.2); }
  100% {
    transform: translateX(-100%); } }

body {
  background-color: #ececec; }

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #1c1a1a; }

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.product-wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px 20px; }

.grid-item {
  display: inline-block; }

.top-navigation {
  background-color: #242424;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
  .top-navigation a {
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding: 25px 0; }
  .top-navigation .site-menu,
  .top-navigation .site-cart {
    width: 25%; }
  .top-navigation .site-menu .mobile-menu-toggle {
    display: block;
    padding-left: 25px; }
    @media (min-width: 992px) {
      .top-navigation .site-menu .mobile-menu-toggle {
        display: none; } }
    .top-navigation .site-menu .mobile-menu-toggle button {
      font-size: 25px;
      background: transparent;
      border: none;
      color: white;
      padding: 0; }
      .top-navigation .site-menu .mobile-menu-toggle button:hover {
        cursor: pointer; }
  .top-navigation .site-menu ul {
    position: fixed;
    height: 100%;
    text-align: center;
    width: 32.667em;
    max-width: 80%;
    position: fixed;
    height: 100%;
    z-index: 4;
    top: 54px;
    overflow-y: scroll;
    background-color: #242424;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
    .top-navigation .site-menu ul.slide--in {
      animation: slide-in 0.5s forwards;
      -webkit-animation: slide-in 0.5s forwards; }
    .top-navigation .site-menu ul.slide--out {
      animation: slide-out 0.5s forwards;
      -webkit-animation: slide-out 0.5s forwards; }
    @media (min-width: 992px) {
      .top-navigation .site-menu ul.slide--out, .top-navigation .site-menu ul.slide--in {
        animation: none; } }
    @media (min-width: 768px) {
      .top-navigation .site-menu ul {
        top: 76px; } }
    @media (min-width: 992px) {
      .top-navigation .site-menu ul {
        position: relative;
        width: auto;
        max-width: none;
        transform: none;
        padding: 0 0 0 25px;
        overflow: hidden;
        top: 0; } }
    .top-navigation .site-menu ul li {
      border-top: 2px solid white; }
      .top-navigation .site-menu ul li:last-of-type {
        border-bottom: 2px solid white; }
      @media (min-width: 992px) {
        .top-navigation .site-menu ul li {
          float: left;
          border: none; }
          .top-navigation .site-menu ul li:last-of-type {
            border: none; }
          .top-navigation .site-menu ul li:not(:last-of-type) {
            margin-right: 15px; } }
    .top-navigation .site-menu ul a {
      position: relative; }
      .top-navigation .site-menu ul a:hover {
        text-decoration: underline; }
      .top-navigation .site-menu ul a i {
        display: inline-block;
        position: absolute;
        right: 25px; }
        @media (min-width: 992px) {
          .top-navigation .site-menu ul a i {
            display: none; } }
  .top-navigation .site-logo {
    width: 50%; }
    .top-navigation .site-logo a {
      display: block;
      text-decoration: none;
      padding: 0; }
    .top-navigation .site-logo h1 {
      color: white;
      text-align: center;
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      margin: 17px 0; }
      @media (min-width: 768px) {
        .top-navigation .site-logo h1 {
          font-size: 40px; } }
      @media (min-width: 992px) {
        .top-navigation .site-logo h1 {
          font-size: 48px;
          margin: 4px 0; } }
      @media (min-width: 1200px) {
        .top-navigation .site-logo h1 {
          font-size: 56px;
          margin: 0; } }
  .top-navigation .site-cart {
    display: flex;
    justify-content: flex-end; }
    .top-navigation .site-cart .cart {
      padding-right: 25px;
      position: relative;
      display: inline-block; }
      .top-navigation .site-cart .cart .cart-label {
        display: none; }
        @media (min-width: 992px) {
          .top-navigation .site-cart .cart .cart-label {
            display: inline-block; } }
      .top-navigation .site-cart .cart .cart-count {
        position: absolute;
        font-weight: bold;
        text-align: center;
        z-index: 5;
        bottom: 50%;
        left: 25%;
        padding: 1px 5px;
        border-radius: 50%;
        font-size: 10px;
        line-height: 1.4;
        background-color: #eb6e26; }
        @media (min-width: 992px) {
          .top-navigation .site-cart .cart .cart-count {
            right: 20%;
            left: auto; } }
  @media (min-width: 992px) {
    .top-navigation .site-menu,
    .top-navigation .site-logo,
    .top-navigation .site-cart {
      width: 33.3%; } }

.breadcrumbs {
  display: block;
  padding: 20px 30px; }
  .breadcrumbs a, .breadcrumbs span {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #808184;
    text-transform: uppercase; }
  .breadcrumbs a {
    text-decoration: none; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
  .breadcrumbs .breadcrumb-spacer {
    font-weight: bold;
    font-size: 16px;
    margin: 0 11px 0 12px; }

.product-sticky-header {
  display: none;
  height: 50px; }
  @media (min-width: 992px) {
    .product-sticky-header {
      display: block; } }
  .product-sticky-header nav {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%; }
    .product-sticky-header nav a {
      color: white;
      padding: 16px 50px 15px;
      text-transform: uppercase;
      text-decoration: none;
      font-family: 'Open Sans', sans-serif; }
      .product-sticky-header nav a:hover {
        text-decoration: underline; }

.product-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse; }
  @media (min-width: 992px) {
    .product-preview {
      float: left;
      width: 60%; } }
  .product-preview img {
    width: 100%; }
  .product-preview .thumbnail-slider {
    text-align: center;
    width: 100%; }
    @media (min-width: 992px) {
      .product-preview .thumbnail-slider {
        width: 20%; } }
    .product-preview .thumbnail-slider .slick-arrow {
      z-index: 3;
      font-size: 18px;
      position: absolute;
      bottom: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      @media (min-width: 768px) and (max-width: 991px) {
        .product-preview .thumbnail-slider .slick-arrow {
          font-size: 40px; } }
      @media (min-width: 992px) {
        .product-preview .thumbnail-slider .slick-arrow {
          position: relative; } }
      .product-preview .thumbnail-slider .slick-arrow:not(.slick-disabled):hover {
        cursor: pointer; }
    .product-preview .thumbnail-slider .slick-arrow-prev {
      left: 0; }
      @media (min-width: 992px) {
        .product-preview .thumbnail-slider .slick-arrow-prev {
          margin-bottom: 15px; } }
    .product-preview .thumbnail-slider .slick-arrow-next {
      right: 0; }
      @media (min-width: 992px) {
        .product-preview .thumbnail-slider .slick-arrow-next {
          margin-top: 15px; } }
    .product-preview .thumbnail-slider .slick-disabled {
      opacity: 0.5; }
    .product-preview .thumbnail-slider .product-thumbnail:hover {
      cursor: pointer; }
    .product-preview .thumbnail-slider .product-thumbnail:focus {
      outline: none; }
  .product-preview .product-preview-image {
    display: none;
    width: 75%; }
    @media (min-width: 992px) {
      .product-preview .product-preview-image {
        display: inline-block; } }

@media (min-width: 992px) {
  .product-display {
    float: right;
    width: 40%; } }

.product-display .product-title {
  font-size: 35px;
  line-height: 1;
  text-decoration: none;
  margin-top: 15px;
  margin-bottom: 10px; }

.product-display .product-number,
.product-display .product-platform {
  margin-bottom: 15px; }

.product-display .product-platform {
  font-weight: 700;
  text-transform: uppercase; }

.product-display .product-price {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 23px; }

.product-display .product-inventory {
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: normal; }
  .product-display .product-inventory span {
    font-weight: bold; }

.product-display .product-tagline {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .product-display .product-tagline {
      width: 90%; } }

@media (min-width: 992px) {
  .product-description-wrapper {
    width: 40%; } }

.product-description-wrapper .product-description {
  margin: 20px 0 30px; }
  @media (min-width: 768px) {
    .product-description-wrapper .product-description {
      width: 90%; } }
  .product-description-wrapper .product-description p {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: normal; }

.product-description-wrapper .product-quantity {
  margin-bottom: 30px; }
  .product-description-wrapper .product-quantity p {
    font-size: 18px;
    margin-bottom: 10px; }
  .product-description-wrapper .product-quantity .product-quantity-select {
    display: none; }

.product-description-wrapper .product-add-to-cart-button {
  padding: 14px 46px 13px;
  text-transform: uppercase;
  border-style: none;
  background-color: #bbbbbb;
  color: white;
  margin-bottom: 30px; }
  .product-description-wrapper .product-add-to-cart-button:hover {
    cursor: pointer; }
  .product-description-wrapper .product-add-to-cart-button:focus {
    outline: none; }

.product-quantity-dropdown {
  height: 28px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: block;
  padding: 8px 20px 7px 8px;
  line-height: 28px;
  width: 50%;
  position: relative; }
  .product-quantity-dropdown.dropdown--open .product-quantity-dropdown-list {
    display: inline-block; }
  .product-quantity-dropdown .dropdown-arrow {
    height: 0;
    width: 0;
    border-color: black transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    right: 8px;
    margin-top: -2px;
    position: absolute;
    top: 50%; }
  .product-quantity-dropdown .product-quantity-dropdown-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    left: -1px;
    top: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 8px 0 7px; }
    .product-quantity-dropdown .product-quantity-dropdown-list li {
      padding: 0 8px; }

.social-sharing {
  margin-bottom: 15px; }
  @media (min-width: 992px) {
    .social-sharing {
      width: 40%;
      margin-bottom: 30px;
      display: flex;
      margin-left: auto; } }
  .social-sharing p {
    font-size: 20px;
    display: inline-block;
    text-transform: uppercase; }
  .social-sharing i.fab {
    font-size: 25px; }
  .social-sharing a {
    margin-left: 25px;
    color: black;
    text-decoration: none; }
    .social-sharing a:hover {
      color: #eb6e26; }
  .social-sharing .social-sharing-share-txt {
    display: none; }

.product-information-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white; }
  @media (min-width: 992px) {
    .product-information-wrapper {
      padding-top: 131px;
      padding-bottom: 30px; } }
  .product-information-wrapper .product-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center; }
    @media (min-width: 992px) {
      .product-information-wrapper .product-wrapper {
        flex-direction: row-reverse; } }
  .product-information-wrapper h4 {
    font-size: 25px;
    color: #1c1a1a;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .product-information-wrapper h4 {
        font-size: 35px; } }
  .product-information-wrapper .product-information-content {
    padding-top: 0;
    width: 100%; }
    @media (min-width: 992px) {
      .product-information-wrapper .product-information-content {
        width: 50%;
        padding-right: 20px; } }
  .product-information-wrapper .product-information-image {
    width: 100%; }
    @media (min-width: 992px) {
      .product-information-wrapper .product-information-image {
        width: 45%; } }
    .product-information-wrapper .product-information-image img {
      width: 100%; }
  .product-information-wrapper .accordion-menu-item {
    border-top: 1px solid #000; }
    .product-information-wrapper .accordion-menu-item:last-of-type {
      border-bottom: 1px solid #000; }
    .product-information-wrapper .accordion-menu-item.active h5 span {
      transform: rotate(135deg); }
    .product-information-wrapper .accordion-menu-item h5 {
      font-size: 18px;
      color: #000;
      padding: 26px 0 22px; }
      .product-information-wrapper .accordion-menu-item h5:hover {
        cursor: pointer; }
      @media (min-width: 992px) {
        .product-information-wrapper .accordion-menu-item h5 {
          font-size: 25px; } }
      .product-information-wrapper .accordion-menu-item h5 span {
        font-size: 16px;
        font-weight: bold;
        float: right;
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out; }
        @media (min-width: 992px) {
          .product-information-wrapper .accordion-menu-item h5 span {
            font-size: 18px; } }
    .product-information-wrapper .accordion-menu-item .accordion-items {
      display: none; }
      .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item {
        padding-left: 18px;
        padding-bottom: 25px; }
        .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item:last-of-type {
          padding-bottom: 51px; }
        .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item h6 {
          font-size: 16px;
          text-transform: capitalize;
          margin-top: 10px;
          margin-bottom: 10px; }
        .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item span, .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item p {
          font-family: 'Open Sans', sans-serif; }
        .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item span {
          display: list-item;
          list-style-type: disc;
          list-style-position: inside; }
        .product-information-wrapper .accordion-menu-item .accordion-items .accordion-item p {
          font-size: 16px;
          font-weight: normal;
          margin: 16px 0;
          line-height: normal; }

.product-cross-sell-list {
  text-align: center;
  padding-bottom: 40px;
  padding-top: 25px; }
  @media (min-width: 992px) {
    .product-cross-sell-list {
      padding-bottom: 104px;
      padding-top: 50px; } }
  .product-cross-sell-list h3 {
    font-size: 35px;
    color: #1c1a1a;
    margin-top: 15px;
    margin-bottom: 30px;
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .product-cross-sell-list h3 {
        margin-bottom: 20px; } }
  .product-cross-sell-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .product-cross-sell-list li {
    width: 100%;
    position: relative;
    list-style-type: none;
    background-color: #fff;
    transition: 200ms;
    margin-bottom: 25px;
    padding: 30px 15px; }
    @media (min-width: 992px) {
      .product-cross-sell-list li {
        width: 23%;
        margin: 0 1%;
        float: left;
        margin-bottom: 0;
        height: 340px; } }
    @media (min-width: 992px) {
      .product-cross-sell-list li:hover {
        margin-top: -5px; } }
    .product-cross-sell-list li a {
      color: black;
      text-decoration: none; }
    .product-cross-sell-list li .product-title,
    .product-cross-sell-list li .product-price {
      font-weight: bold; }
    .product-cross-sell-list li .product-title {
      font-family: 'Rajdhani', sans-serif;
      font-size: 20px;
      min-height: 60px; }
    .product-cross-sell-list li .product-price {
      font-family: 'Open-sans', sans-serif;
      font-size: 14px; }
    .product-cross-sell-list li img {
      height: 185px;
      max-width: 100%;
      margin: 0 auto; }

.product-cart-feedback {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center; }
  .product-cart-feedback .product-cart-values {
    background-color: white;
    margin: 25% auto;
    padding: 25px;
    display: inline-block; }
    .product-cart-feedback .product-cart-values p {
      font-weight: normal;
      font-size: 25px; }
      .product-cart-feedback .product-cart-values p span {
        font-weight: bold; }
